
# Builds
*.apk

/Platformer/obj
/Platformer/Temp

*.DS_Store
*/.DS_Store
.DS_Store

/*/.vs
/*/.vsconfig
/*/Library
/*/obj
/*/Logs
/*/Temp
/*/UserSettings
/*/Build

/*/metadata.json
/*/LocalData
/Scripts/node_modules
/Build

/*/*.csproj
/*/*.sln
/Miners/.vsconfig
/Miners/Assets/LevelOutput.meta
/Miners/Assets/LevelOutput


*/UserSettings/Layouts
/Loaders/ProjectSettings/Packages
*/.idea
SceneTemplateSettings.json
